{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add Product
{% endblock title %}

{% block page_title %}
<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-xl leading-6 font-medium text-gray-900">
    Edit Product
  </h3>
</div>
{% endblock page_title %}

{% block content %}

<div class="mt-5 md:mt-0 md:col-span-2">

  <ul role="list" class="mb-10 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    {% for image in product.photos_set.all %}
    <li class="relative">
      <form class="text-center" id="product_image_form" action="{% url 'product_photo_delete' image.pk %}" method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div
          class="group mb-2 block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
          <img src="{{ image.photo.url }}" alt="" class="object-cover pointer-events-none group-hover:opacity-75">
        </div>
        <button type="submit"
          class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          Delete
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>

  <form id="product_form" action="" method="POST" enctype="multipart/form-data">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {{ form.media }}

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Product Title</label>
          {{ form.title }}
        </div>

        <div class="grid gap-4 grid-cols-2 grid-rows-1">
          <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm">
                  $
                </span>
              </div>
              {{ form.sale_price }}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm" id="price-currency">
                  USD
                </span>
              </div>
              </input>
            </div>
          </div>

          <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Cost Per Unit</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm">
                  $
                </span>
              </div>
              {{ form.cost_per_unit }}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm" id="price-currency">
                  USD
                </span>
              </div>
              </input>
            </div>
          </div>
        </div>

        <div>
          <label for="comment" class="block text-sm font-medium text-gray-700">Notes</label>
          <div class="mt-1">
            {{ form.notes }}
          </div>
        </div>

        <div>
          <div class="mb-3 w-96">
            <label for="formFileMultiple" class="form-label inline-block mb-2 text-gray-700">Product photos</label>
            <input class="form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file"
              id="formFileMultiple" name="images" multiple>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <button type="submit"
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>
  </form>
</div>


{% endblock content %}