{% extends '_base.html' %}

{% block title %}
{{ product.title }}
{% endblock title %}

{% block page_title %}

<div>
  <div>
    <nav class="sm:hidden" aria-label="Back">
      <a href="#" class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-200">
        <!-- Heroicon name: solid/chevron-left -->
        <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd" />
        </svg>
        Back
      </a>
    </nav>
    <nav class="hidden sm:flex" aria-label="Breadcrumb">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div class="flex">
            <a href="#" class="text-gray-400 hover:text-gray-500">
              <a href="{% url 'product_list' %}"
                class="text-sm font-medium text-gray-400 hover:text-gray-200">Products</a>
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="flex-shrink-0 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
              fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
            <a href="#" class="ml-4 text-sm font-medium text-gray-400 hover:text-gray-200">{{ product.title }}</a>
          </div>
        </li>
      </ol>
    </nav>
  </div>
  <div class="mt-2 md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        {{ product.title }}
      </h2>
    </div>
    <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
      <form method="POST" action="{% url 'product_delete' product.id %}">
        {% csrf_token %}
        <button type="submit"
          class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
          Delete
        </button>
      </form>
      <a href="{% url 'product_update' product.id %}"
        class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
        Edit
      </a>
    </div>
  </div>
</div>

<br>
<hr>
{% endblock page_title %}

{% block content %}

<ul role="list" class="mb-10 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
  {% for image in product.photos_set.all %}
  <li class="relative">
    <div
      class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="{{ image.photo.url }}" alt="" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
  </li>
  {% endfor %}
</ul>

<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Product Information
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Details and possible projections
    </p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Sale price
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          ${{ product.sale_price }}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Cost per unit
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          ${{ product.cost_per_unit }}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Profit per unit
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          $6.50
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          ROI
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          340%
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          Notes
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{ product.notes | safe }}
        </dd>
      </div>
      {% if product.quotes.all > 0 %}
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          Quotes
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
            {% for quote in product.quotes.all %}
            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
              <div class="w-0 flex-1 flex items-center">
                <!-- Heroicon name: solid/paper-clip -->
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                    clip-rule="evenodd" />
                </svg>
                <span class="ml-2 flex-1 w-0 truncate">
                  {{ quote.supplier }}
                </span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <span>{{ quote.cost_per_unit }}</span>
                <span>{{ quote.misc_fees }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </dd>
      </div>
      {% endif %}
    </dl>
  </div>
</div>
{% endblock content %}