{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>
      {% block title %}{% endblock title %}
      | Sellerlane
    </title>
  </head>

  <body class="h-screen">
    <div class="w-100 border-b border-black">
      <nav class="py-8 px-6 container mx-auto flex justify-between items-center">
        <a href="{% url 'product_list' %}">Products</a>
        {% if user.is_authenticated %}
          <span class="inline-block mr-5 last-of-type:mr-0">
            <a href="{% url 'account_logout' %}">Log Out</a>
          </span>
        {% else %}
          <span>
            <span class="mr-5 inline-block last-of-type:mr-0">
              <a href="{% url 'account_signup' %}">Sign Up</a>
            </span>
            <span class="mr-5 inline-block last-of-type:mr-0">
              <a href="{% url 'account_login' %}">Log In</a>
            </span>
          </span>
        {% endif %}

      </nav>
    </div>

    <main class="container mx-auto my-10 flex justify-center items-center">
      {% block content %}{%endblock content%}
    </main>
  </body>

</html>